
.font-roboto {
    font-family: 'Roboto', sans-serif
}

.content-panel {
    margin-top: 90px;
}

.font-Oswald {
    font-family: 'Oswald', sans-serif
}

.icon-btn-text {
    margin: 2px auto auto 2px;
    float: right;
}